* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts//SourceSansPro-Bold.ttf");
  font-weight: 700;
}

body {
  background-color: #e5e5e5;
}
